{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailuserbar %}

{% block body_class %}template-homepage{% endblock %}

{% wagtailuserbar %}
{% block content %}
<!-- Hero Start -->
<section id="hero">
  <div class="fs-hero hero-img">
    <div class="hero-caption center">
      {% image page.profile_image original as profile_image %}
      {% image page.background_image original as background_image %}
      <img class="pull-left" src="{{ profile_image.url }}" alt="">
      <div class="cliping-text fixed-bg pull-right" style="background-image:url({{ background_image.url }})">
        <h1 class="font-size-120">Derrick See</h1>
      </div>

      <p class="text-left">{{ page.profile_text }}</p>
    </div>
  </div><!-- /hero-img -->
</section>
<!-- Hero End -->

{% comment %}
<!-- Portfolio Start -->
<section class="section-5">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="isotope-filter filter-1 text-center">
          <a href="#" class="filter-item active" data-filter="*">All</a>
          <a href="#" class="filter-item" data-filter=".web-design">Web Design</a>
          <a href="#" class="filter-item" data-filter=".branding">Branding</a>
          <a href="#" class="filter-item" data-filter=".apps">Apps</a>
          <a href="#" class="filter-item" data-filter=".photography">Photography</a>
        </div>
        <div class="portfolio isotope row col-4 gutter-sm masonry mrg-top-50">
          <a href="#" class="folio-item web-design">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-26.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">The Card</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item branding">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-36.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item web-design">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-27.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item apps">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-33.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item photography">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-37.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item apps">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-29.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item apps">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-38.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item apps">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-28.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="folio-item apps">
            <div class="folio-style-1">
              <div class="folio-image">
                <img class="img-responsive" src="{% static 'images/portfolio/folio-31.jpg" alt="">
              </div>
              <div class="overlay">
                <div class="folio-caption">
                  <div class="folio-content">
                    <h3 class="folio-tittle">A Pool</h3>
                    <span>Web / Graphic</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio End -->
{% endcomment %}

<!-- Intro Start -->
<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <h2 class="lh-1-5">{{ page.feature_title }}</h2>
          <p class="width-80 mrg-top-40 mrg-horizon-auto">{{ page.feature_text }}</p>
          <ul class="social-btn mrg-top-30">
            <li><a class="btn icon-btn-md btn-dark-inverse hover-facebook border-radius-round" href="javascript:void(0);"><i class="ei ei-facebook"></i></a></li>
            <li><a class="btn icon-btn-md btn-dark-inverse hover-twitter border-radius-round" href="javascript:void(0);"><i class="ei ei-twitter"></i></a></li>
            <li><a class="btn icon-btn-md btn-dark-inverse hover-instagram border-radius-round" href="javascript:void(0);"><i class="ei ei-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Intro End -->

{% endblock %}
