/*---------------------------------------------------------------------------
  Theme: Eastern

  Your CSS goes here
----------------------------------------------------------------------------*/
p {
  color: #333;
}

.date {
  font-style: italic;
}
