{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailuserbar %}
{% load likes_inclusion_tags %}

{% block content %}
<!-- Post Cover Start -->
{% image page.hero_image width-1600 as hero_image %}
<section class="single-post-cover post-cover-xl dark-overlay" style="background-image: url({{ hero_image.url }})">
  <div class="container">
    <h2 class="blog-tittle">{{ page.title }}</h2>
    <div class="blog-meta">
      <p>{{ page.intro }}</p>
    </div>
  </div>
</section>
<!-- Post Cover End -->
<!-- Post Content Start -->
<section class="section-1 single-post">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="blog-article">
          {% for block in page.body %}
            {% if block.block_type == 'heading' %}
              <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'paragraph' %}
              {{ block.value|safe }}
            {% elif block.block_type == 'image' %}
              {% image block.value width-400 %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="blog-action">
          {% likes page %}
          {% comment %}
          <span class="comments"><a href="javascript:void(0);"><i class="ei ei-speech-bubble"></i> 20</a></span>
          <span class="share"><a href="javascript:void(0);"><i class="ei ei-sharethis"></i> Share</a></span>
          {% endcomment %}
        </div>
        {% comment %}
        <div class="mrg-top-90">
          <h2>Comments</h2>
          <p>17 Comments</p>
          <div class="user-comments mrg-top-50">
            <div class="comments-item">
              <div class="user">
                <img class="profile-img" src="assets/images/thumb/testimonial-1.jpg" alt="">
                <span class="user-info">
                  <span Class="user-name">John Doe</span>
                  <span class="date">May 18th 2016</span>
                </span>
              </div>
              <p class="comment">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what.</p>
              <div class="action">
                <span class="likes"><a href="javascript:void(0);"><i class="ei ei-heart"></i> 168</a></span>
                <span class="reply"><a href="javascript:void(0);"><i class="ei ei-reply"></i> Reply</a></span>
              </div>
            </div>
            <div class="comments-item">
              <div class="user">
                <img class="profile-img" src="assets/images/thumb/testimonial-1.jpg" alt="">
                <span class="user-info">
                  <span Class="user-name">John Doe</span>
                  <span class="date">May 18th 2016</span>
                </span>
              </div>
              <p class="comment">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what.</p>
              <div class="action">
                <span class="likes"><a href="javascript:void(0);"><i class="ei ei-heart"></i> 168</a></span>
                <span class="reply"><a href="javascript:void(0);"><i class="ei ei-reply"></i> Reply</a></span>
              </div>
              <div class="comments-item replied">
                <div class="user">
                  <img class="profile-img" src="assets/images/thumb/testimonial-1.jpg" alt="">
                  <span class="user-info">
                    <span Class="user-name">John Doe</span>
                    <span class="date">May 18th 2016</span>
                  </span>
                </div>
                <p class="comment">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what.</p>
                <div class="action">
                  <span class="likes"><a href="javascript:void(0);"><i class="ei ei-heart"></i> 168</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mrg-top-70">
          <h2>Leave a Comment</h2>
          <p>Share your opinions here</p>
          <textarea id="message" class="form-control mrg-top-30" name="message" placeholder="Message Here"></textarea>
          <button class="btn btn-dark btn-md mrg-top-30">Send Message</button>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
<!-- Post Content End -->
{% endblock %}
