{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static wagtailuserbar %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<!-- Page Tittle Start -->
<section class="page-tittle page-tittle-lg kenburn-bg dark-overlay">
  {% image page.hero_image original class="kenburn-img" %}
  <div class="container">
    <div class="page-tittle-head">
      <h2>{{ page.title }}</h2>
      {{ page.intro|safe }}
    </div>
  </div>
</section>
<!-- Page Tittle End -->


<!-- Blog Start -->
<section class="section-1 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="blog-card masonry isotope col-2 gutter-lg">
          {% for blog in blogs %}
          <div class="blog-item">
            <div class="blog-wrapper">
              <div class="blog-media">
                {% image blog.image original class="img-responsive" %}
              </div>
              <div class="blog-content">
                <h3 class="blog-tittle"><a href="blog-classic-left-sidebar.html">{{ blog.title }}</a></h3>
                <div class="blog-meta">
                  <span class="date"> {{ blog.created }}</span>
                </div>
                <p class="blog-article">{{ blog.summary }}</p>
                <div class="blog-action">
                  <span class="likes"><i class="ei ei-heart"></i> {{ blog.vote_total|default:"0" }}</span>
                  <a class="continue-reading" href="{% pageurl blog %}">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% comment %}
        <div class="text-center mrg-top-50">
          <button class="btn btn-dark btn-md">Show More</button>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->
{% endblock %}
